div.pagediv   { background-color: white !important; color: black !important; width: 690px !important; }
body		  { background-color: white !important; color: black !important; }
#theMainTable { background-color: white !important; color: black !important; }
