<html>
  <head>
    <title> Basic Webpage </title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>

  <body>
    <div class="navbar">
      <img class="nav-logo" src="assets/nav_logo.png"> </img>
      <ul class="navbar-links">
          <li>Home</li>
          <li>Reflections</li>
          <li>Forms</li>
          <li>Groups</li>
      </ul>
    </div>
    <div class="main-page-background">
      <div class="main-page">
        <div class="left-column">
          <div class="left-container-box-avatar">
            <div class="avatar-border">
              <img class="avatar-image" src="assets/portrait_placeholder.png"> </img>
                <div class="user-name"><font color="#38b449">Aimee Herbert-Smith</font></div>
                <div class="update-profile-picture-button"><font color="#ffffff">Update Profile Picture</font></div>
            </div>
          </div>
          <div class="dashboard-button"><font color="#ffffff">Dashboard</font></div>
          <div class="account-button"><font color="#0074cc">Account</font></div>
          <div class="left-container-box">
            <div class="header-box"><font color="grey">Support</font></div>
              <div class="content-box"><font color="#38b449">System Check:</font></div>
              <div class="javascript-button"><font color="grey">JavaScript</font></div>
          </div>
        </div>
        <div class="right-column">
          <div class="right-container-box">
            <div class="header-box"><font color="grey">Notifications:</font></div>
            <div class="content-box"><font color="grey">You do not have any notifications.</font></div>
          </div>
          <div class="right-container-box">
            <div class="header-box"><font color="grey">News:</font></div>
            <div class="news-item">
              <div class="news-item-content-box">
                <div class="news-title"><font color="#0074cc">New Offers</font></div>
                <div class="news-sub-title"><font color="#38b449">We're worth talking about</font></div>
                <div class="news-text">
                  <p>For every school that you recommend us to and who buys IRIS Connect, we'll add one month onto your licence, give them £250 off of their purchase and donate £50 to our current educational charity Wings of Hope. This offer is unlimited so, if you recommend us to 6 schools and they all buy IRIS Connect we'll add 6 months free to your licence.</p>
                </div>
                <div class="news-button button-link">
                  <div class="news-button-text">More information</div>
                </div>
              </div>
              <div class="news-item-image-box">
                  <img class="news-item-image" src="assets/if-you-recommend-us1.png"> </img>
              </div>
            </div>
            <div class="news-item">
              <div class="news-item-content-box">
                <div class="news-title"><font color="#0074cc">New in the Group Store</font></div>
                <div class="news-sub-title"><font color="#38b449">Differentiation How2s</font></div>
                <div class="news-text">
                  <p>Get 11 practical, step-by-step guides to integrating differentiation into your teaching; helping you to learn and apply the techniques in minutes.</p>
                </div>
                <div class="news-button button-link">
                  <div class="news-button-text">More information</div>
                </div>
              </div>
              <div class="news-item-image-box">
                  <img class="news-item-image" src="assets/how2-group-logo.png"> </img>
              </div>
            </div>
          </div>
          <div class="right-container-box-2-column-left">
            <div class="header-box"><font color="grey">Two columns left:</font></div>
            <div class="content-box"><font color="grey">column 1.</font></div>
          </div>
          <div class="right-container-box-2-column-right">
            <div class="header-box"><font color="grey">Two columns right:</font></div>
              <div class="split-content"><font color="#ffffff">Split content</font></div>
                <div class="content-box"><font color="grey">column 2.</font></div>
          </div>
          <div class="right-container-box-3-column-left">
            <div class="header-box"><font color="grey">Three columns left:</font></div>
            <div class="content-box"><font color="grey">column 1.</font></div>
          </div>
          <div class="right-container-box-3-column-middle">
            <div class="header-box"><font color="grey">Three columns middle:</font></div>
              <div class="split-content"><font color="#ffffff">Split content</font></div>
            <div class="content-box"><font color="grey">column 2.</font></div>
          </div>
          <div class="right-container-box-3-column-right">
            <div class="header-box"><font color="grey">Three columns right:</font></div>
            <div class="content-box"><font color="grey">column 3.</font></div>
          </div>

          </div>

        </div>
      </div>
    </div>
  </body>

</html>
